<div class="message-box">
	<div class="head-box-1">
	
	  <ul class="msg-box list-inline text-left d-inline-block float-left">
	   <li> <i class="fas fa-arrow-left" id="back"></i> </li> 
		 <li> <img src="https://i.ibb.co/fCzfFJw/person.jpg" alt="" width="40px"> <span> {{ singlesideuser.username }} </span> <br> <small class="timee"> 12:45 Pm </small> </li> 
	  </ul>
	  
	  <ul class="flat-icon list-inline text-right d-inline-block float-right">
		 <li> <a href="#"> <i class="fas fa-video"></i> </a> </li>
		 <li> <a href="#"> <i class="fas fa-camera"></i> </a> </li> 
		 <li> 
		 <a href="#" id="dset"> <i class="fas fa-ellipsis-v"></i> </a>
		  <div class="setting-drop">
		   <ul class="list-inline"> 
			 <li> <a href="#"> My Profile</a> </li>  
			 <li> <a href="#"> Setting </a> </li>
			 <li> <a href="#"> Privacy Policy </a> </li>
			 <li> <a href="#"> Hidden chat  </a> </li>
			 <li> <a href="#"> Logout </a> </li>
			</ul>
		  </div>
		 </li> 
	  </ul>
	  
   </div>
   
   <div class="msg_history">
   <div class="incoming_msg" *ngFor="let msg of messages">
	 <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	 <div class="received_msg">
	   <div class="received_withd_msg">
		 <p>{{msg.message}}</p>
		 <span class="time_date">{{msg.time}}</span></div>
	 </div>
   </div>
   </div>
   <!--<div class="outgoing_msg">
	 <div class="sent_msg">
	   <p>Hello, i am fine thankyou, what about you ?</p>
	   <span class="time_date"> 11:01 AM    |    June 9</span> </div>
   </div>
   <div class="incoming_msg">
	 <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	 <div class="received_msg">
	   <div class="received_withd_msg">
		 <p>I am also good thankyou!</p>
		 <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
	 </div>
   </div>
   <div class="outgoing_msg">
	 <div class="sent_msg">
	   <p> ok </p>
	   <span class="time_date"> 11:01 AM    |    Today</span> </div>
   </div>
   <div class="incoming_msg">
	 <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	 <div class="received_msg">
	   <div class="received_withd_msg">
		 <p> What's going on ?</p>
		 <span class="time_date"> 11:01 AM    |    Today</span></div>
	 </div>
   </div>
 </div> -->
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br><br>
   <br>
   <br>
   
  
   <div class="send-message">
	 <form>
	  <textarea cols="10" rows="2" name="message" class="form-control" [(ngModel)]="msg.message" placeholder="Type your message here ..."> </textarea>
	   <ul class="list-inline"> 
		<li>
		 <button (click)="getallmsg()"><a href="#" id="attach">  <i class="fas fa-paperclip"></i> </a> </button>
		   <div class="attachement">
			 <ul class="list-inline"> 
			  <li> <a href="#"> <i class="fas fa-file"></i> </a> </li> 
			  <li> <a href="#"> <i class="fas fa-camera"></i> </a> </li> 
			  <li> <a href="#"> <i class="fas fa-image"></i> </a> </li> 
			  <li> <a href="#"> <i class="far fa-play-circle"></i> </a> </li> 
			  <li> <a href="#"> <i class="fas fa-map-marker-alt"></i> </a> </li> 
			  <li> <a href="#"> <i class="fas fa-id-card"></i> </a> </li> 
			 </ul>
		   </div> 
		 </li>	  
		 <button (click)="send()" ><i class="fas fa-paper-plane" ></i></button>
	   </ul>
	 </form>
   </div>
   
   
  </div>