<mat-toolbar color="primary" class="app-header">
  <div><a routerLink="chat"  target="_blank" routerLink="chat" class="positronx">We chat</a></div>
  <span class="nav-tool-items" *ngIf="!isLoggedIn">
    <a mat-button routerLink="signin" routerLinkActive="active cuurent">Signin</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active current">Signup</a>
  </span>
  <span class="nav-tool-items" *ngIf="isLoggedIn">
    <a mat-button routerLink="signin" routerLinkActive="active current">{{ user.username }}</a>
    <a mat-button mat-raised-button style="color: black;" (click)="logout()" routerLinkActive="active current">Logout</a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>